* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logotipo {
    vertical-align: middle;
}

.titulo_principal {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; /* Añade margen izquierdo para separar del logotipo */
}

body {
    margin: 0; /* Elimina márgenes predeterminados del cuerpo */
}

div {
    margin: 10px;
}

.form {
    display: block;
    margin-bottom: 15px; /* Añade margen inferior para separar los bloques del formulario */
}

.group {
    display: inline-block;
    margin-right: 10px; /* Añade margen derecho para separar los elementos del grupo */
}

#alertas {
    color: red;
}

.datos_cliente {
    background-color: #55ccff;
    padding: 10px; /* Añade relleno para separar el contenido del borde */
    margin-bottom: 15px; /* Añade margen inferior para separar de la siguiente sección */
}

.datos_pedido {
    background-color: #40ccbb;
    padding: 10px; /* Añade relleno para separar el contenido del borde */
    margin-bottom: 15px; /* Añade margen inferior para separar de la siguiente sección */
}
